@{
    ViewData["Title"] = "Potresi";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli</h1>
    <p>Ovo je stranica za pomoć stradalima u potresu.</p>
    <p>Potrebno je <a asp-area="Identity" asp-page="/Account/Register">registrirati se</a> kako bi mogli ponuditi svoju pomoć ili zatražiti pomoć od drugih.</p>
</div>
